# Directories

alembic
clients
node_modules
__pycache__
testbackend
tests
venv

# Files

alembic.ini
database.db
.DS_Store
.env
.env.local
.env.sample
.idea
*.njsproj
*.ntvs*
package-lock.json
poetry.lock
*.sln
*.suo
*.sw?
.vscode
!.vscode/extensions.json

# Logs
logs
*.log
lerna-debug.log*
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*
