# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
__init__
dist
dist-ssr
*.local


# Editor directories and files
admin
__pycache__
package-lock.json
venv
database.db
.vscode
!.vscode/extensions.json
.env.sample
.env.local
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
