.mycssmap {
	display: flex;
	flex-grow: 1;
	border-radius: 0.75rem;
	width: 100%;
	transition-property: all;
	transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
	transition-duration: 300ms;
}

@media (min-width: 50px) {
	.mycssmap {
		height: 320px;
	}
}
